<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/single-startpage/">
    <title>Title of the document</title>
    <!-- <script src="libs/vue/vue.global.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.4/vue.global.min.js" integrity="sha512-zCDqM0UIijinAmuLOGCNTPkKFg0zFx3/mB1NXvsJ6bO0YfYZzF91nR0UY/PvTLU7a8qRfjaKzjDfgUNTCKfn0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--
    <link rel="stylesheet" href="/libs/fontawesome/css/all.min.css">
    <script defer src="/libs/fontawesome/js/all.js"></script>
        -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link id="theme-link" rel="stylesheet" href="css/minimalistic.css">
</head>
<!--
<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<!-- second version, mobile friendly -->
<body>
<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-12">
                <div class="d-flex justify-content-center">
                    <img id="logo" :src="logoSrc">
                </div>
            </div>
        </div>


        <div class="row justify-content-center" id="search-input-row">
            <div class="col col-12 p-3">
                <div class="input-group" id="search-input-group">
                    <input type="text" class="form-control" v-model="searchQuery"
                        @keyup.shift.enter="luckyButtonAction"
                        @keyup.enter="searchButtonAction">
                    <button class="btn btn-outline-secondary" type="button"
                        @click="luckyButtonAction">Lucky</button>
                    <button class="btn btn-outline-secondary" type="button"
                        @click="searchButtonAction">Search</button>
                </div>
            </div>
        </div>


        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-2" v-if="forceRefresh">
            <div class="col category" v-for="(category, categoryIndex) in categoryList" :key="categoryIndex">
                <div class="col">
                    <div class="card text-center">
                        <ul class="list-group list-group-flush">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-0">
                                    <ul class="list-group list-group-horizontal">
                                        <li v-if="editMode" class="col-3 list-group-item btn btn-success px-2"
                                            @click="moveCategory(categoryIndex, (categoryIndex-1))">
                                            <i class="fa-solid fa-angle-left"></i>
                                        </li>
                                        <li class="col list-group-item category-header">
                                            <span class="">
                                                <i v-if="category.icon" :class="[category.icon]"></i>
                                            </span>
                                            {{ category.name }}
                                        </li>
                                        <li v-if="editMode" class="list-group-item btn btn-info" @click="initalizeEditCategory(category.name, category.color, category.icon, categoryIndex, category.sites)">
                                            <i class="fa-solid fa-pen"></i>
                                        </li>
                                        <li v-if="editMode" class="col-3 list-group-item btn btn-success px-2"
                                            @click="moveCategory(categoryIndex, (categoryIndex+1))">
                                            <i class="fa-solid fa-angle-right"></i>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-0">
                                    <template v-for="(site, siteIndex) in category.sites" :key="categoryIndex+'x'+siteIndex">
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item list-group-item-action flex-fill px-0"
                                                @click.shift="siteButtonLuckyAction(site)"
                                                @click="siteButtonAction(site)">
                                                <div class="row p-0">
                                                    <div class="col">
                                                    <span class="">
                                                        <i v-if="site.icon" :class="[site.icon]"></i>
                                                    </span>
                                                    {{ site.name }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li v-if="editMode" class="list-group-item btn btn-info" @click="initalizeEditSite(site, categoryIndex, siteIndex)">
                                                <i class="fa-solid fa-pen"></i>
                                            </li>
                                        </ul>
                                        <ul class="list-group list-group-horizontal" v-if="editMode">
                                            <li class="col-3 list-group-item btn btn-success px-2"
                                                @click="moveSite(categoryIndex, siteIndex,categoryIndex-1, siteIndex)">
                                                <i class="fa-solid fa-angle-left"></i>
                                            </li>
                                            <li class="col-3 list-group-item btn btn-success px-2"
                                                @click="moveSite(categoryIndex, siteIndex,categoryIndex, siteIndex-1)">
                                                <i class="fa-solid fa-angle-up"></i>
                                            </li>
                                            <li class="col-3 list-group-item btn btn-success px-2"
                                                @click="moveSite(categoryIndex, siteIndex,categoryIndex, siteIndex+1)">
                                                <i class="fa-solid fa-angle-down"></i>
                                            </li>
                                            <li class="col-3 list-group-item btn btn-success px-2"
                                                @click="moveSite(categoryIndex, siteIndex,categoryIndex+1, siteIndex)">
                                                <i class="fa-solid fa-angle-right"></i>
                                            </li>
                                        </ul>
                                    </template>
                                </li>
                            </ul>

                            <li v-if="editMode" class="list-group-item p-0">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item list-group-item-action flex-fill px-0">
                                        <div class="row py-2" @click="initalizePushSite(categoryIndex)">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col" v-if="editMode">
                <div class="card text-center">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-0">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item list-group-item-action flex-fill px-0">
                                    Add category
                                </li>
                            </ul>
                        </li>
                        <li class="list-group-item p-0">
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item list-group-item-action flex-fill px-0">
                                    <div class="row py-4" @click="initalizePushCategory">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasEditCategory" data-bs-backdrop="static" >
            <div class="offcanvas-body small">
                <div class="card">
                    <div class="card-header">
                        Editing category
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Name</span>
                            <input v-model="editedCategory.name" type="text" class="form-control"
                                   placeholder="Category name">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Color</span>
                            <input v-model="editedCategory.color" type="color" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Icon</span>
                            <input v-model="editedCategory.icon" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-around text-center">
                            <div class="col">
                                <div class="btn btn-success"
                                     @click="pushCategory(editedCategory.name, editedCategory.color, editedCategory.icon, editedCategory.categoryIndex, editedCategory.sites)">
                                    Save
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn btn-danger" @click="deleteCategory(editedCategory.categoryIndex)">
                                    Delete
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn btn-warning" @click="cancelEditCategory">
                                    Cancel
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasEditSite" data-bs-backdrop="static" >
            <div class="offcanvas-body small">
                <div class="card">
                    <div class="card-header">
                        Editing site
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Name</span>
                            <input v-model="editedSite.name" type="text" class="form-control" placeholder="Site name">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Adress</span>
                            <input v-model="editedSite.address" type="text" class="form-control" placeholder="Adress">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Search adress</span>
                            <input v-model="editedSite.searchAddress" type="text" class="form-control"
                                   placeholder="Search adress">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Color</span>
                            <input v-model="editedSite.color" type="color" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Icon</span>
                            <input v-model="editedSite.icon" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-around text-center">
                            <div class="col">
                                <div class="btn btn-success"
                                     @click="pushSite(editedSite.categoryIndex, editedSite.name, editedSite.address, editedSite.searchAddress, editedSite.color, editedSite.icon, editedSite.siteIndex)">
                                    Save
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn btn-danger" @click="deleteSite(editedSite.categoryIndex, editedSite.siteIndex)">
                                    Delete
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn btn-warning " @click="cancelEditSite">
                                    Cancel
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row text-center fixed-bottom" id="settings-buttons">
            <div class="col">
                <div class="btn btn-success" @click="editMode = !editMode">
                    Edit
                </div>
            </div>

            <div class="col">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Export
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" @click="saveSitesToLocalStorage">Session storage</a></li>
                        <li><a class="dropdown-item" @click="saveSitesToFile">File</a></li>
                        <li><a class="dropdown-item" href="#">Copy text</a></li>
                        <li><a class="dropdown-item" href="#">Bookmark link</a></li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Import
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" @click="loadSitesFromLocalStorage">Session storage</a></li>
                        <li><a class="dropdown-item" href="#">
                            <input type="file" accept=".json" @change="loadSitesFromFile" />
                        </a></li>
                        <li><a class="dropdown-item" href="#">Paste text</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="module">
    import { defaultCategoriesList } from './data/defaultData.js'

    // Create a Vue instance
    const app = Vue.createApp({
        components: {},
        data() {
            return {
                //important variables
                editMode: false,
                forceRefresh: true,
                editCategoryModal: null,
                editSiteModal: null,
                editedCategory: {
                    categoryIndex: null,
                    show: false,
                    name: null,
                    color: null,
                    icon: null,
                    sites: [],
                },
                editedSite: {
                    categoryIndex: null,
                    show: false,
                    name: null,
                    address: null,
                    searchAddress: null,
                    color: null,
                    icon: null
                },
                categoryList: [],
                /* query variables */
                defaultSearchAddress: "https://www.google.com/search?q=",
                defaultLuckySearchAddress: "https://google.com/search?btnI=&q=",
                searchQuery: '',
            }
        },
        watch: {
            
        },
        methods: {
            async refresh(){
                this.forceRefresh = false;
                await this.$nextTick();
                this.forceRefresh = true;
            },
            // START Search functions
            /* redirect user to other page, argument gets string site address or page object */
            redirect(site){
                let protocolRegex = new RegExp("^(http|https)://", "i");
                let wwwRegex = new RegExp("www.", "i");                
                if(!wwwRegex.test(site) && !protocolRegex.test(site))
                    site = 'www.'+site;
                if(!protocolRegex.test(site))
                    site = 'https://'+site;
                window.location.href = site;
            },
            /* searches query in default search engine, optionally using site(address) or site(object) */
            search(query, site){
                if(!site){
                    this.redirect(this.defaultSearchAddress+encodeURI(query));
                }else{
                    if( typeof site === 'string' ){
                        console.log("Searching by site string: "+site);
                        this.redirect(site+encodeURI(query));
                    }else if( site.hasOwnProperty('searchAddress') ){
                        console.log("Searching by site.searchAddress: "+site);
                        this.redirect(site.searchAddress+encodeURI(query));
                    }
                }

            },
            searchButtonAction(){
                this.search(this.searchQuery, this.defaultSearchAddress);
            },
            luckyButtonAction(){
                this.search(this.searchQuery, this.defaultLuckySearchAddress);
            },
            siteButtonAction(site){
                if(this.searchQuery && this.searchQuery.length>0){
                    if( site !== undefined && site.hasOwnProperty('searchAddress')){
                        this.redirect(site.searchAddress+this.searchQuery);
                    }
                }else{
                    this.redirect(site.address);
                }
            },
            siteButtonLuckyAction(site){
                if( site !== undefined && site.hasOwnProperty('address') && site.hasOwnProperty('searchAddress')){
                    this.redirect(this.defaultLuckySearchAddress+"site:"+site.address+" "+this.searchQuery);
                }
            },
            // END Search functions
            // START data storage functions
            saveSitesToFile(){
                const jsonData = JSON.stringify(this.categoryList, null, 2); // Pretty-print with 2 spaces
                const blob = new Blob([jsonData], { type: 'application/json' });
                const url = URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.href = url;
                link.download = 'startpage.json';
                link.click();
                URL.revokeObjectURL(url);
            },
            loadSitesFromFile(event){
                if(event.target.files[0]){
                    const reader = new FileReader();
                    reader.onload = fileEvent => {
                        try {
                            console.log( fileEvent.target.result );
                            this.categoryList = JSON.parse(fileEvent.target.result);
                            this.saveSitesToLocalStorage();
                        }catch(error){
                            console.log(error);
                            reject(error);
                        }
                    };
                    reader.onerror = error => {
                        console.log(error);
                        reject(error);
                    };
                    reader.readAsText(event.target.files[0]);
                }
            },
            saveSitesToLocalStorage(){
                localStorage.setItem("categoryList", JSON.stringify(this.categoryList) );
            },
            loadSitesFromLocalStorage(){
                this.categoryList = JSON.parse( localStorage.getItem("categoryList") ) || [];
            },
            // END data storage functions
            pushSite(categoryIndex, name, address, searchAddress, color, icon, siteIndex=null) {
                this.editSiteModal.hide();
                if(siteIndex === null){
                    this.categoryList[categoryIndex].sites.push({
                        categoryIndex: this.categoryList[categoryIndex].sites.length,
                        name: name,
                        address: address,
                        searchAddress: searchAddress,
                        color: color,
                        icon: icon
                    });
                }else{
                    this.categoryList[categoryIndex].sites[siteIndex] = {
                        siteIndex: siteIndex,
                        categoryIndex: this.categoryList[categoryIndex].sites.length,
                        name: name,
                        address: address,
                        searchAddress: searchAddress,
                        color: color,
                        icon: icon
                    };
                }
                this.cancelEditSite();
            },
            deleteSite(categoryIndex, siteIndex){
                if(Number.isInteger(categoryIndex) && categoryIndex >= 0 &&
                    Number.isInteger(siteIndex) && siteIndex >= 0){
                    this.categoryList[categoryIndex].sites.splice(siteIndex, 1);
                    this.clearEditSite();
                    this.editSiteModal.hide();
                }
            },
            initalizePushSite(categoryIndex) {
                this.editedSite.show = true;
                this.editedSite.categoryIndex = categoryIndex;
                this.editSiteModal.show();
            },
            initalizeEditSite(site, categoryIndex, siteIndex){
                this.editedSite = site;
                this.editedSite.show = true;
                this.editedSite.siteIndex = siteIndex;
                this.editedSite.categoryIndex = categoryIndex;
                this.editSiteModal.show();
                
                console.log(site);
                console.log("Editing Cidx:"+categoryIndex+" Sidx:"+siteIndex);
            },
            clearEditSite(){
                this.editedSite = {
                    categoryIndex: null,
                    show: false,
                    name: null,
                    address: null,
                    searchAddress: null,
                    color: null,
                    icon: null
                };
            },
            cancelEditSite(){
                this.clearEditSite();
                this.editSiteModal.hide();
            },
            clearEditCategory(){
                this.editedCategory = {
                    categoryIndex: null,
                    show: false,
                    name: null,
                    color: null,
                    icon: null
                };
            },
            cancelEditCategory(){
                this.clearEditCategory();
                this.editCategoryModal.hide();
            },
            initalizePushCategory() {
                this.editedCategory.show = true;
                this.editCategoryModal.show();
            },
            pushCategory(name, color, icon, categoryIndex, sites){
                if(sites === undefined)sites = [];

                this.editCategoryModal.hide();
                if(Number.isInteger(categoryIndex) && categoryIndex >= 0){
                    this.categoryList[categoryIndex] = {
                        categoryIndex: categoryIndex,
                        name: name,
                        color: color,
                        icon: icon,
                        sites: sites
                    };
                }else{
                    this.categoryList.push({
                        name: name,
                        color: color,
                        icon: icon,
                        sites: sites
                    });
                }
                this.cancelEditCategory();
            },
            initalizeEditCategory(name, color, icon, categoryIndex, sites){
                this.editedCategory.name = name;
                this.editedCategory.color = color;
                this.editedCategory.icon = icon;
                this.editedCategory.categoryIndex = categoryIndex;
                this.editedCategory.sites = sites;
                this.editCategoryModal.show();
            },
            deleteCategory(categoryIndex){
                if(Number.isInteger(categoryIndex) && categoryIndex >= 0){
                    this.categoryList.splice(categoryIndex, 1);
                    this.clearEditSite();
                    this.editCategoryModal.hide();
                }
            },
            moveCategory(currentCategoryIndex, destinationCategoryIndex){
                if(destinationCategoryIndex != currentCategoryIndex 
                    && destinationCategoryIndex < this.categoryList.length 
                    && destinationCategoryIndex >= 0){
                        const tempCurrentCategory = JSON.parse(JSON.stringify( this.categoryList[currentCategoryIndex] ));
                        const tempDestinationCategory = JSON.parse(JSON.stringify( this.categoryList[destinationCategoryIndex] ));
                        
                        this.categoryList[destinationCategoryIndex] = tempCurrentCategory;
                        this.categoryList[currentCategoryIndex] = tempDestinationCategory;
                    
                        this.refresh();
                }
            },
            moveSite(currentCategoryIndex, currentSiteIndex, destinationCategoryIndex, destinationSiteIndex){
                const tempCurrentSite = JSON.parse(JSON.stringify( this.categoryList[currentCategoryIndex].sites[currentSiteIndex] ));

                if(currentCategoryIndex != destinationCategoryIndex){
                    this.categoryList[currentCategoryIndex].sites.splice(currentSiteIndex, 1);
                    this.categoryList[destinationCategoryIndex].sites.push(tempCurrentSite);
                    this.refresh();
                }else{
                    if(currentSiteIndex != destinationSiteIndex){
                        const tempDestinationSite =  JSON.parse(JSON.stringify( this.categoryList[destinationCategoryIndex].sites[destinationSiteIndex] ));

                        this.categoryList[destinationCategoryIndex].sites[destinationSiteIndex] = tempCurrentSite;
                        this.categoryList[currentCategoryIndex].sites[currentSiteIndex] = tempDestinationSite;
                        this.refresh();
                    }
                }
                    
            },
            consolePrint(text){
                console.log(text);
            }
        },
        mounted() {
            console.log(`the component is now mounted.`)
            this.editSiteModal = new bootstrap.Offcanvas(document.getElementById('offcanvasEditSite'));
            this.editCategoryModal = new bootstrap.Offcanvas(document.getElementById('offcanvasEditCategory'));

            this.loadSitesFromLocalStorage();
            if( this.categoryList.length === 0){
                this.categoryList = defaultCategoriesList;
            }
        },
        beforeMount() {
            let random = 1+Math.round(3*Math.random());
            this.logoSrc = 'images/banners/initiald'+random+'.jpg';
        },
    });

    // Mount the Vue instance to the #app div
    app.mount('#app');
</script>

<style>
    .float-end-absolute {
        position: absolute;
        top: 0%;
        left: 85%;
        transform: translate(-50%, 5%);
    }

    .offcanvas {
        height: fit-content !important;
    }

</style>


</html>
